/* Tip Tap Editor */

.ProseMirror {
  margin: 0 8px;
}
.tiptap h1 {
  font-size: 1.8rem;
  font-weight: 900;
}
.tiptap h2 {
  font-size: 1.3rem;
  font-weight: 800;
}
.tiptap h3 {
  font-weight: 800;
}

.tiptap p {
  font-weight: 300;
}
.tiptap p strong {
  font-weight: 600;
}

.ProseMirror:focus {
  outline: none;
}

.tiptap a {
  text-decoration: underline;
}

.tiptap ul li {
  list-style: square;
  margin: 0 24px;
}
.tiptap ol li {
  list-style: decimal;
  margin: 0 24px;
}
